<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="homeStyles.css" rel="stylesheet">
    </head>
    <body>
        <a href="/projects">Projects</a>
        <a href="#">Users</a>
        <a href="#">Manage Organization</a>
        <a href="#">Manage Tasks</a>
        <a href="/logout">logout</a>
    </body>
</html>
