<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="pulseViewStyles.css" rel="stylesheet">
</head>

<body>
    <header>
        <span id="currentPage">Current Page</span>
        <span id="notifications">Notification</span>
        <span id="profile">Profile</span>
    </header>

    <nav>
        <a href="/"><img id="taskPulseLogo" src="TaskPulseLogo.png" alt="TaskPulse logo"></a>


        <div>
            <section id="pulseViewSection">
                <a class="navLink" id="pulseView" href="/pulseView">Pulse View</a>
            </section>

            <section>
                <a class="navLink" href="">Project View</a>
            </section>
        </div>
        <hr>
        <div>
            <section>
                <a class="navLink" href="">Chats</a>
            </section>

            <section>
                <a class="navLink" href="">Tasks</a>
            </section>

            <section>
                <a class="navLink" href="">Users</a>
            </section>

            <section>
                <a class="navLink" href="">Organization</a>
            </section>
        </div>
        <hr>
        <div>
            <section>
                <a class="navLink" href="">Feedback</a>
            </section>

            <section>
                <a class="navLink" href="/logout">Logout</a>
            </section>
        </div>
    </nav>

    <main>
            <canvas id="canvas"></canvas>
    </main>
</body>

</html>
