:root{

    --text: #000000;
    --background: #22262a;
    --primary: #0ea08f;
    --secondary: #2c3136;
    --accent: #087761;
}
html{
    background-color: var(--background);
}

#pulseView{
    background-color: #043d32;
}

#pulseViewSection{
    background-color: #043d32;
}

a{
    text-decoration: none;
    color: var(--text);
    text-align: center;
}

body{
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    grid-template-areas: 
        "nav head head"
        "nav main main"
        "nav main main";

    grid-template-rows: 4.5rem 1fr 1fr;
    grid-template-columns: 15% 2fr;
}


#taskPulseLogo{
    width: 100%;
    height: 4.5rem;
}

hr{
    border-color: black;
}

nav{
    grid-area: nav;
    grid-auto-flow: column;
    background-color: var(--secondary);
    align-items: center;
}

nav > div {
    text-align: center;
}

section{
    margin: 2rem;
    display: block;
    background-color: var(--accent);
}

section > a {
    background-color: var(--accent);
    font-size: 1.25rem;
    word-wrap: normal;
    width: 2rem;
}


main{
    grid-area: main;
    background-color: var(--background);
}

#currentPage{
    background-color: whitesmoke;
}

#notifications{
    background-color: whitesmoke;
}

#profile{
    background-color: whitesmoke;
}

header > span {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border-radius: 0.25rem;
}


header{
    grid-area: head;
    background-color: var(--accent);
    display: flex;
    justify-items: center;
    align-items: center;

}
